# Задача 1 
Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

In [1]:
import random
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/d.kapanadze/Downloads/Учеба/ИТМО/1 семестр/Анализ данных на Python/lectures/lect_02/1_beverage/beverage_r.csv', sep=';')

df.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

In [2]:
# фиксируем зерно
np.random.seed(seed=10)

# массив размера len(df) с выборкой из равномерного распределения
r = np.random.uniform(0, 1, size=len(df))

# Сравниваем значения с квантилем уровня 66
q66 = [i <= np.quantile(r, 0.66) for i in r]

In [3]:
train = df[q66]
print(f"Размер обучающей выборки: {round(train.shape[0] / df.shape[0], 3)}")

test = df[np.logical_not(q66)]
print(f"Размер тестовой выборки: {round(test.shape[0] / df.shape[0], 3)}")

Размер обучающей выборки: 0.647
Размер тестовой выборки: 0.353

----

# Задача 2
Разделить таблицу данных на четыре одинаковых части.

In [4]:
r2 = np.random.uniform(0, 1, size=len(df))

q25 = [ i <= np.quantile(r2, 0.25) for i in r2]
q50 = [ i <= np.quantile(r2, 0.50) and i > np.quantile(r2, 0.25) for i in r2]
q75 = [ i <= np.quantile(r2, 0.75) and i > np.quantile(r2, 0.50) for i in r2]
q100 = [ i <= np.quantile(r2, 1) and i > np.quantile(r2, 0.75) for i in r2]

In [5]:
part1 = df[q25]
part2 = df[q50]
part3 = df[q75]
part4 = df[q100]

print(f"Размер 1й части: {round(part1.shape[0]/df.shape[0], 3)}")
print(f"Размер 2й части: {round(part2.shape[0]/df.shape[0], 3)}")
print(f"Размер 3й части: {round(part3.shape[0]/df.shape[0], 3)}")
print(f"Размер 4й части: {round(part4.shape[0]/df.shape[0], 3)}")

Размер 1й части: 0.265
Размер 2й части: 0.235
Размер 3й части: 0.235
Размер 4й части: 0.265

----
# Задача 3
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [6]:
df.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

In [18]:
# Какой процент любителей кока-колы в датасете
print(f'Кола: {round(df.query("COKE == 1").shape[0] / df.shape[0], 3)}')

# Какой процент любителей минералки в датасете
print(f'Минералка: {round(df.query("TAB == 1").shape[0] / df.shape[0], 3)} ')

Кола: 0.588
Минералка: 0.324

Кока-Кола(обучающая выборка - 60%, тестовая - 40%)

In [ ]:
sz1 = np.random.uniform(0, 1, size=len(df.query("COKE == 1")))
sz0 = np.random.uniform(0, 1, size=len(df.query("COKE == 0")))


train_coke = pd.concat(
    [
    df.query("COKE == 1")[sz1 < np.quantile(sz1, 0.6)],
    df.query("COKE == 0")[sz0 < np.quantile(sz0, 0.6)]
    ],
    axis=0
)

assert np.isclose(train_coke.shape[0] / df.shape[0], 0.6, 0.05)
assert np.isclose(train_coke.query("COKE == 1").shape[0] / train_coke.shape[0], df.query("COKE == 1").shape[0] / df.shape[0], 0.05)

In [84]:
test_coke = pd.concat(
    [
    df.query("COKE == 1")[sz1 < np.quantile(sz1, 0.4)],
    df.query("COKE == 0")[sz0 < np.quantile(sz0, 0.4)]
    ],
    axis=0
)

assert np.isclose(test_coke.shape[0] / df.shape[0], 0.4, 0.05)
assert np.isclose(test_coke.query("COKE == 1").shape[0] / test_coke.shape[0], df.query("COKE == 1").shape[0] / df.shape[0], 0.05)

Минералка(обучающая выборка - 60%, тестовая - 40%)

In [99]:
sz3 = np.random.uniform(0, 1, size=len(df.query("TAB == 1")))
sz4 = np.random.uniform(0, 1, size=len(df.query("TAB == 0")))


train_tab = pd.concat(
    [
    df.query("TAB == 1")[sz3 < np.quantile(sz3, 0.6)],
    df.query("TAB == 0")[sz4 < np.quantile(sz4, 0.6)]
    ],
    axis=0
)

assert np.isclose(train_tab.shape[0] / df.shape[0], 0.6, 0.05)
assert np.isclose(train_tab.query("TAB == 1").shape[0] / train_tab.shape[0], df.query("TAB == 1").shape[0] / df.shape[0], 0.08)

In [95]:
test_tab = pd.concat(
    [
    df.query("TAB == 1")[sz3 < np.quantile(sz3, 0.4)],
    df.query("TAB == 0")[sz4 < np.quantile(sz4, 0.4)]
    ],
    axis=0
)

assert np.isclose(test_tab.shape[0] / df.shape[0], 0.4, 0.05)
assert np.isclose(test_tab.query("TAB == 1").shape[0] / test_tab.shape[0], df.query("TAB == 1").shape[0] / df.shape[0], 0.05)

In [96]:
test_tab.shape[0] / df.shape[0]

0.38235294117647056

In [97]:
test_tab

    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
11        12     0       1        0      0      0       0    1        0
22        23     0       1        0      1      0       0    1        0
29        30     0       1        1      0      0       0    1        0
31        32     0       1        1      0      0       0    1        0
0          1     1       0        0      0      1       1    0        1
1          2     1       0        0      0      1       0    0        0
4          5     1       0        0      0      1       0    0        0
7          8     1       1        0      0      1       1    0        1
12        13     0       0        1      1      0       1    0        1
16        17     0       1        0      0      0       1    0        0
18        19     1       0        0      0      0       0    0        1
23        24     1       1        0      0      1       0    0        0
28        29     1       0        0      0      0       1    0        0